@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --blue_dark_background: #050c1a;
    --blue_dark_container: #091c41;
    --light: #fff;
    --green_primary: #00a65a;
    --green_second: #018b4d;
    --blue_primary: #123870;
    --blue_second:#0e2a55;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    height: 100vh;
    background: var(--blue_dark_background);
}
header{
    height: 70px;
    background: var(--blue_dark_container);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: var(--light);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}
.container__input{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}
input{
    padding-left: 5px;
    width: 85px;
}
.button{
    width: 70px;
    cursor: pointer;
    font-weight: bold;
    background: var(--green_primary);
    border: none;
    border-radius: 2px;
    color: var(--light);
}
.button:hover{
    background: var(--green_second);
}
.container__resultados{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.container__resultados__box{
    width: 250px;
    height: 250px;
    background: var(--blue_primary);
    border-radius: 1em;
    box-shadow: 5px 5px 5px #17202c;
    text-align: center;  
}
.container__resultados__box:hover{
    background: var(--blue_second);
}
.container__resultados__box h2{
    margin-top: 50px;
    font-size: 2rem;
    color: var(--light);
    text-transform: uppercase;
}
footer{
    background: var(--blue_dark_container);
    margin-top: 25px;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h3{
    color: var(--light);
}
@media all and (min-width: 768px) and (max-width: 959px){
    h1{
        font-size: 2rem;
    }
    input{
        width: 90px;
    }
}
@media all and (min-width: 960px) and (max-width: 1199px){
    h1{
        font-size: 2.5rem;
    }
    input{
        width: 100px;
    }
    .container__resultados{
        justify-content: center;
        flex-direction: row;
    }
    .container__resultados__box{
        width: 250px;
        height: 250px;
    }
    .container__resultados__box h2{
        font-size: 1.6rem;
    }
    footer{
        position: absolute;
    }
}
@media all and (min-width: 1200px){
    h1{
        font-size: 2.6rem;
    }
    input{
        width: 150px;
    }
    .container__resultados{
        justify-content: center;
        flex-direction: row;
    }
    .container__resultados__box{
        width: 300px;
        height: 300px;
    }
    .container__resultados__box h2{
        font-size: 2rem;
    }
    footer{
        position: absolute;
    }
}